# JetBrains IDE
.idea

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Example files
eswc2015-AmieRules.txt
eswc2015.n3

# kbgen model and result files
*.npz
*.npy
*.pkl
*.n3
*.tsv
*.ttl
*.txt
*oracle.json
*oracle.bin
